<h1>{{this.heroe.nombre |uppercase}}<small>({{this.heroe.aparicion |date: 'fullDate' }})</small></h1>
<!--|uppercase y |date es un pipe-->
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="{{this.heroe.img}}" alt="" class="img-flui">
        <br><br>
    </div>
    <div class="col-md-8">
        <h3>{{this.heroe.nombre |lowercase}}</h3>
        <hr>
        <p>{{this.heroe.bio |uppercase}}</p>
    </div>
    <div>
        <img *ngIf="this.heroe.casa == 'Marvel'" src="../../../assets/img/A-64.png" alt="DC">
        <img *ngIf="this.heroe.casa == 'DC'" src="../../../assets/img/dc.png" alt="Marvel">
    </div>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-clock">Regresar</a>
</div>